.tooth-label {
    text-align: center;
    margin-bottom: 5px;
}
.svg-container {
    position: relative;
    width: 50px;
}

.clickable-tooth,
.clickable-tooth-overlay {
    position: absolute;
    top: 25px;
    left: 0;
    width: 50px;
    height: auto;
}